<div class="card mb-4">
  <div class="position-relative">
    <img src="{{ member().photoUrl }} " class="card-img-top img-fluid rounded-top" alt="{{ member().knownAs }}">
    <!-- Overlay hiện các nút khi hover -->
    <div class="overlay d-flex justify-content-center align-items-center">
      <button routerLink="/members/{{ member().username }}" class="btn btn-primary m-1">
        <i class="fa fa-user"></i>
      </button>
      <button (click)="toggleLike()" class="btn btn-primary m-1">
        <i class="fa fa-heart"></i>
      </button>
      <button class="btn btn-primary m-1">
        <i class="fa fa-envelope"></i>
      </button>
    </div>
  </div>
  <div class="card-body text-center">
    <h6 class="card-title mb-1">
      <i class="fa fa-user me-2"></i>{{ member().knownAs }}, {{member().age}}
      @if (hasLiked()) {
        <i class="fa fa-heart ms-2" style="color: red;"></i>
      }
    </h6>
    <p class="card-text text-muted">{{ member().city }}</p>
  </div>
</div>
